.header {
    padding: 5px;
    margin-bottom: 40px;
}

.navList {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navLink {
    color: currentColor;
}

.active {
    color: blue;
}